<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configurações de conexão com o banco de dados -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/pokemondb</property>
        <property name="hibernate.connection.username">matdev</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.isolation">2</property>

        <!-- Configurações de controle de transação -->
        <property name="hibernate.hbm2ddl.auto">validate</property> <!-- Use 'update', 'create', ou 'validate' -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <!-- Gerenciamento de cache -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>

        <!-- Outras configurações (opcionais) -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">30</property>
        <property name="hibernate.c3p0.idle_test_period">60</property>

        <!-- Mention annotated class -->
        <mapping class="com.matdev.model.Pokemon"/>


    </session-factory>
</hibernate-configuration>